<!DOCTYPE html>
<html lang="UTF-8">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="indexshan.css" />
</head>

<body>
    <div id="top-bar">
        <img id="logo" src="logo.png" alt="Logo">
        <h1 id="title">发票管理系统</h1>
    </div>

    <div id="background">
        <div id="transparent-white">
            <div id="input-area">
                <div id="left-input-area">
                    <div id="instruction-area">
                        <div id="instruction-title">使用说明</div>
                        <div id="instruction-words">
                            <h4>1、上传文件——您可以选择拖拽上传或者输入路径上传文件。</h4>
                            <h4>2、配置输出——复制您期望的输出文件路径到“输出文件路径”中。</h4>
                            <h4>3、配置合并——点击“配置”“合并”按钮。程序约五分钟左右完成。</h4>
                        </div>
                    </div>
                    <div id="drag-area">
                        <div id="drag-child1">
                            <div class="drag-excel">
                                <div class="up-drag-excel"></div>
                                <div class="down-drag-excel"></div>
                            </div>
                        </div>
                        <div id="drag-child2">
                            <div class="drag-excel">
                                <div class="up-drag-excel"></div>
                                <div class="down-drag-excel"></div>
                            </div>
                        </div>
                        <div id="drag-child3">
                            <div class="drag-excel">
                                <div class="up-drag-excel"></div>
                                <div class="down-drag-excel"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="right-input-area"></div>
            </div>

            <div id="output-area"></div>
        </div>
    </div>

    </div>
</body>

</html>