html,
body {
    height: 100%;
    width: 100%;
}

.right-up-input {
    height: 50%;
    background-color: aquamarine;
    display: flex;
    justify-content: left;
    align-items: center;
}

.right-logo {
    height: 5%;
    margin-left: 10%;
}

.right-up-input-words {
    margin-left: 0.5%;
}