<!DOCTYPE html>
<html lang="UTF-8">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="indexshan.css" />
</head>

<body>
    <div id="drag-area">
        <div id="drag-child1">
            <div class="drag-excel">
                <div class="top-half"></div>
                <div class="bottom-half"></div>
            </div>
        </div>
        <div id="drag-child2">
            <div class="drag-excel">
                <div class="top-half"></div>
                <div class="bottom-half"></div>
            </div>
        </div>
        <div id="drag-child3">
            <div class="drag-excel">
                <div class="top-half">lalala</div>
                <div class="bottom-half"></div>
            </div>
        </div>
    </div>

</body>

</html>