<!DOCTYPE html>
<html lang="UTF-8">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="../static/test.css" />
</head>

<body>
    <div id="top-bar">
        <img id="logo" src="../static/img/logo.png" alt="Logo">
        <h1 id="title">发票管理系统</h1>
    </div>

    <div id="background">
        <div id="transparent-white">
            <div id="input-area">
                <div id="left-input-area">
                    <div id="instruction-area">
                        <div id="instruction-title">
                            <img id="instruction-logo" src="../static/img/instruction-logo.png" alt="instruction-logo">
                            <a id="instruction">使用说明</a>
                        </div>
                        <div id="instruction-words">
                            <h4>1、上传文件——您可以选择拖拽上传或者选择文件上传文件。</h4>
                            <h4>2、配置输出——复制输出文件路径到“输出文件路径”中并点击配置，如“D:\dev\temp”。</h4>
                            <h4>3、开始合并——点击“配置”“合并”按钮。程序约两分钟左右完成。</h4>

                            <!-- <div class="instruction-details">1、上传文件——您可以选择拖拽上传或者输入路径上传文件。</div>
                            <div class="instruction-details">2、配置输出——复制您期望的输出文件路径到“输出文件路径”中。</div>
                            <div class="instruction-details">3、配置合并——点击“配置”“合并”按钮。程序约五分钟左右完成。</div> -->
                        </div>
                    </div>
                    <div id="drag-area">
                        <div class="drag-child" id="drag-child1">
                            <div class="drag-excel" >
                                <div class="up-drag-excel">
                                    <div class="drag-center" id="drag-excel1">
                                        <h3>本月进项文件/临时匹配完成表</h3>
                                    </div>
                                </div>
                                <div class="down-drag-excel">
                                    <div class="drag-center">
                                        <img src="../static/img/add_file.png" alt="文件加载图片错误">
                                        <div id="drop_area1_in_hidden"
                                              style="font-size:5%;height:5%;font-weight: bold;visibility: hidden"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="drag-child" id="drag-child2">
                            <div class="drag-excel" >
                                <div class="up-drag-excel">
                                    <div class="drag-center" id="drag-excel2">
                                        <h3>本月销项文件/临时匹配剩余表</h3>
                                    </div>
                                </div>
                                <div class="down-drag-excel">
                                    <div class="drag-center">
                                        <img src="../static/img/add_file.png" alt="文件加载图片错误">
                                        <div id="drop_area2_in_hidden"
                                            style="font-size:5%;height:5%;font-weight: bold;display: none"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="drag-child" id="drag-child3">
                            <div class="drag-excel">
                                <div class="up-drag-excel">
                                    <div class="drag-center"  id="drag-excel3">
                                        <h3>上月剩余匹配文件/匹配待填充表</h3>
                                    </div>
                                </div>
                                <div class="down-drag-excel">
                                    <div class="drag-center">
                                        <img src="../static/img/add_file.png" alt="文件加载图片错误">
                                        <div id="drop_area3_in_hidden"
                                             style="font-size:5%;height:5%;font-weight: bold; display: none"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="right-input-area">
                    <div class="right-input-child">
                        <div class="right-up-input">
                            <img class="right-logo" src="../static/img/right-logo.png" alt="right-logo">
                            <a class="right-up-input-words">进项文件路径</a>
                        </div>
                        <div class="right-down-input">
                            <input type="file" id="jinxiang-filepath">
                        </div>
                    </div>
                    <div class="right-input-child">
                        <div class="right-up-input">
                            <img class="right-logo" src="../static/img/right-logo.png" alt="right-logo">
                            <a class="right-up-input-words">销项文件路径</a>
                        </div>
                        <div class="right-down-input">
                            <input type="file" id="xiaoxiang-filepath">
                        </div>
                    </div>
                    <div class="right-input-child">
                        <div class="right-up-input">
                            <img class="right-logo" src="../static/img/right-logo.png" alt="right-logo">
                            <a class="right-up-input-words">输出文件路径</a>
                        </div>
                        <div class="right-down-input">
                            <input type="text" id="output-filepath" name="output-filepath">
                            <button id="output-button" onclick="setUnionOutdir()">设置</button>
                        </div>
                    </div>
                </div>
            </div>

            <div id="output-area">
                <div id="button-area">
                    <button class="button" id="config-button">配置</button>
                    <button class="button" id="merge-button" onclick="callDealExcel()">合并</button>
                </div>
                <div id="progress-area">
                    <div id="progress-bar"></div>
                    <span id="progress-text" >正在合并中</span>
                </div>
            </div>
        </div>
    </div>
    <script src="../static/draglistener.js"></script>
    <script src="../static/setUnionOutdir.js"></script>
    <script src="../static/callDealExcel.js"></script>
</body>

</html>